################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AMNSystemsERP.Api/.vs
/AMNSystemsERP.Api/AMNSystemsERP.Api/bin/Debug/net6.0
/AMNSystemsERP.Api/AMNSystemsERP.Api/obj
/AMNSystemsERP.Api/AMNSystemsERP.BL/bin/Debug/net6.0
/AMNSystemsERP.Api/AMNSystemsERP.BL/obj
/AMNSystemsERP.Api/AMNSystemsERP.DL/bin/Debug/net6.0
/AMNSystemsERP.Api/AMNSystemsERP.DL/obj
/AMNSystemsERP.Api/AMNSystemsERP.CL/bin/Debug/net6.0
/AMNSystemsERP.Api/AMNSystemsERP.CL/obj/Debug/net6.0/ref
/AMNSystemsERP.Api/AMNSystemsERP.CL/obj/Debug/net6.0/refint
/AMNSystemsERP.Api/AMNSystemsERP.CL/obj/Debug/net6.0
/AMNSystemsERP.Api/AMNSystemsERP.CL/obj
/AMNSystemsERP.Api/obj
/AMNSystemsERP.BL/obj
/AMNSystemsERP.CL/obj
/AMNSystemsERP.DL/obj
/AMNSystemsERP.Api/bin/Debug/net6.0
/AMNSystemsERP.BL/bin/Debug/net6.0
/AMNSystemsERP.CL/bin/Debug/net6.0
/AMNSystemsERP.DL/bin/Debug/net6.0
/AMNSystemsERP.Api/bin/Debug/net6.0-windows
/AMNSystemsERP.BL/bin/Debug/net6.0-windows
/AMNSystemsERP.CL/bin/Debug/net6.0-windows
/RDLCReports.BL/bin/Debug/net6.0-windows
/RDLCReports.BL/obj/Debug/net6.0-windows
/RDLCReports.BL/obj
/AMNSystemsERP.Api/bin/Release/net6.0-windows
/AMNSystemsERP.Api/.config
/AMNSystemsERP.Api/Properties/PublishProfiles
/AMNSystemsERP.BL/bin/Release/net6.0-windows
/AMNSystemsERP.DL/bin/Release/net6.0
/RDLCReports.BL/bin/Release/net6.0-windows
/AMNSystemsERP.CL/bin/Release/net6.0-windows
/AMNSystemsERP.CL/Properties/PublishProfiles
/AMNSystemsERP.Api/AMNSystemsERP.Api.csproj.user
/AMNSystemsERP.CL/AMNSystemsERP.CL.csproj.user
/RDLCReports.BL/RDLCReports.BL.csproj.user
